body {
    background-color: rgb(92, 79, 74);
}

.maincontainer {
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
}
.topbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(92, 118, 109);
    color: rgb(237, 233, 230);
    min-width: 30px;
}
.sidebar {
    display:flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(92, 118, 109);
    color: rgb(237, 233, 230);
    min-width: 30px;
}
.mainwindow {
    display: flex;
}