body {
    background-color: rgb(92, 79, 74);
    margin: 15px;
}

.maincontainer {
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
}
.topbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(92, 118, 109);
    min-width: 30px;
    border-radius: 10px;
}
.sidebar {
    display:flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: rgb(92, 118, 109);
    color: rgb(237, 233, 230);
    min-width: 175px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    min-height: 800px;
}
.mainwindow {
    display: flex;
    margin-left:30px; margin-right: 30px; margin-top: 15px;
    background-color: rgb(92, 118, 109);
    border-radius: 10px;
    min-width: 86.46%;
    min-height: 800px;
    padding-left: 15px; padding-right: 15px;
}
.logincontainer {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}
.logincontent {
    background-color: rgb(92, 118, 109);
    padding:10px;
    border-radius:10px;
}
.loginitems {
    color:rgb(237, 233, 230);
    margin:10px;
}