<!DOCTYPE html>
<html>

<head>
    <title>howdydoo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="maincontainer">
        <div class="topbar">
            <div
                style="margin-left: 20px; display: flex; flex-direction: row; min-width: 200px; justify-content: space-between; color: rgb(237, 233, 230);">
                <p>Hjem</p>
                <p>Konto</p>
                <p>Andet</p>
            </div>
            <div style="align-content: center; margin-right: 10px;">
                <form action="{{ url_for('index')}}" method="post">
                    <div>
                        <input style="border-radius: 10px; text-align: center; max-width: 125px;" name="place"
                            placeholder="Søg" autocomplete="off">
                        <button type="submit"><img src="/static/search_icon.png" height="18px"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
                <div class="sidebar">
                    <p>a</p>
                 <p>b</p>
                </div>
                <div class="mainwindow" style="margin-left: 15px;">
                    <p>placeholder</p> 
            </div>
        </div>
    </div>
</body>

</html>