<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <h1 style="text-align:center; color:rgb(237, 233, 230);font-size: 60px;">Login page</h1>
            <div class="logincontainer">
                <div class="logincontent">
                    <div class="loginitems">
                    </div>
                    <div class="loginitems">
                        <input placeholder="username" style="border-radius: 8px; text-align: center;font-size: 20px;""></input>
                    </div>
                <div class="loginitems">
                    <input placeholder="password" type="password" style="border-radius: 8px; text-align: center;font-size: 20px"></input>
                </div>
                    <button></button>
                </div>
            </div>
    </body>
</html>