<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <h1 style="text-align:center; color:rgb(237, 233, 230);font-size: 60px;">Login page</h1>
            <div class="logincontainer">
                <div class="logincontent">
                    <div class="loginitems">
                    </div>
                    <div class="loginitems">
                        <input placeholder="Enter username" style="border-radius: 8px; text-align: center;font-size: 20px;""></input>
                    </div>
                <div class="loginitems">
                    <input placeholder="Enter password" type="password" style="border-radius: 8px; text-align: center;font-size: 20px"></input>
                </div> <br>
                <div class="loginitems" style="display: flex; justify-content: center;">
                    <button style="font-size: 20px; min-width: 100%; border-radius: 12px;">LOGIN</button>
                </div>
                <div class="loginitems">
                    <a href="/templates/signup.html" style="font-size: 12px; display: flex; justify-content: center;">Don't have an account? Sign up</a>

                </div>
                </div>
            </div>
    </body>
</html>