<!DOCTYPE html>
<html>

<head>
    <title>howdydoo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="maincontainer">
        <div class="topbar">
            <div style="margin-left: 20px; display: flex; flex-direction: row; min-width: 200px; justify-content: space-between; color: rgb(237, 233, 230); font-size: 20px;">
                <p><a href="/" class="hover">Hjem</a></p>
                <p><a href="/account" class="hover">Konto</a></p>
                <p class="selected">Andet</p>
            </div>
            <div style="align-content: center; margin-right: 10px;">
                <form action="{{ url_for('index')}}" method="post">
                    <div>
                        <input style="border-radius: 10px; text-align: center; max-width: 125px;" name="place"
                            placeholder="Søg" autocomplete="off">
                        <button type="submit"><img src="/static/search_icon.png" height="18px"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
                <div class="sidebar">
                    <p>a</p>
                 <p>b</p>
                </div>
                <div class="mainwindow" style="margin-left: 15px;">
                    <h1>Sprog</h1>
                    <h2>Python</h2>
                    <p>Python er programmeringssproget som projektet er lavet i</p><br>
                    <h2>SQL</h2>
                    <p>SQL er sproget der bruges til at kommunikere med databaser(SELECT, INSERT, osv)</p><br>
                    <h1>Frameworks og moduler/biblioteker</h1>
                    <h2>Flask</h2>
                    <p>Flask er et webframeworkmodul til python, som tilader indlæsning af HTML filer via pyhon</p>
                    <h2>Jinja2</h2>
                    <p>En template engine som flask bruger til at vise dynamisk data på HTML-filerne</p>
                    <h2>Sqlite3</h2>
                    <p>Sqlite3 muliggør integration af python, SQL og databaser sammen på en enkelt og let måde</p>
                    <h2>OS</h2>
                    <p>Et python standard library som bruges i min kode til filhåndtering gennem os.path.join</p><br>
                    <h1>Webprotokoller</h1>
                    <h2>HTTP metoder</h2>
                    <p>Der hentes data (GET), når en template indlæses, og der sendes data (POST) når en bruger logger ind og uploader en fil</p>
                    <h2>Der bruges cookies til at gemme user_session_id, som fortæller koden, at man er logget ind</h2>
                    <h1>Styling</h1>
                    <h2>CSS</h2>
                    <p>Der gøres brug af CSS til styling, eksemåelvis for farverne og flex-containerene</p>
                    
            </div>
        </div>
    </div>
</body>

</html>